.aenean {
  padding: 80px 120px 0px 120px;

  background: #1b1b1b;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
.aenean-text {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a8a8a8;
}
.aenean-title {
  margin: 0;
  margin-bottom: 55px;

  font-weight: 400;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #ffffff;
}
.anenean-img {
  display: block;
  max-width: 100%;
  height: auto;
}
