.statistika {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.statistika {
  padding-top: 80px;
  padding-bottom: 80px;

  &__list {
    display: flex;
    justify-content: space-around;
  }

  &__numbers {
    display: block;

    margin-bottom: 10px;

    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 1.5;

    text-align: center;

    color: #333333;
  }

  &__text {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    text-align: center;

    color: #000000;
  }
}
