.statistika {
  padding: 80px 72px;
}

.statistika__list {
  display: flex;
  justify-content: space-around;
}

.statistika__numbers {
  display: block;

  margin: 10px;

  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 1.5;

  text-align: center;

  color: #333333;
}

.statistika__text {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;

  color: #000000;
}
