<section class="adventures">
  <ul class="adventures-list">
    <li class="adventures-item">
      <p class="adventures-top-text">Aenean Consectetur</p>
      <h3 class="adventures-title">Cay sociis nato que penatibus et</h3>
      <p class="adventures-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </li>
    <li class="adventures-item">
      <p class="adventures-top-text">ConsectUltricies</p>
      <h3 class="adventures-title">Amet Ipsum</h3>
      <p class="adventures-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </li>
    <li class="adventures-item">
      <p class="adventures-top-text">Aenean Consectetur Porta</p>
      <h3 class="adventures-title">Magna Porta Sit Bibendum</h3>
      <p class="adventures-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </li>
  </ul>
</section>
