<section class="benefits">
  <div class="container">
    <ul class="benefits-list list">
      <div class="benefits-box">
        <li class="benefits-item">
          <img
            class="benefits-icon"
            src="/src/images/benefits-img-1.svg"
            alt=""
          />
          <!-- <svg class="benefits-icon" width="80px" height="35px">
          <use href="/src/images/benefits-img-1.svg"></use>
        </svg> -->
          <h3 class="benefits-title">Activity Notifications</h3>
          <p class="benefits-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
        </li>
      
      <div class="benefits-box">
      <li class="benefits-item">
        <img
          class="benefits-icon"
          src="/src/images/benefits-img-2.svg"
          alt=""
        />
        <!-- <svg class="benefits-icon" width="74px" height="35px">
          <use href="/src/images/benefits-img-2.svg"></use>
        </svg> -->
        <h3 class="benefits-title">Custom Timing</h3>
        <p class="benefits-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </li>
    </div>
    <div class="benefits-box">
      <li class="benefits-item">
        <img
          class="benefits-icon"
          src="/src/images/benefits-img-3.svg"
          alt=""
        />
        <!-- <svg class="benefits-icon" width="40px" height="35px">
          <use href="/src/images/benefits-img-3.svg"></use>
        </svg> -->
        <h3 class="benefits-title">Mobile Optimized</h3>
        <p class="benefits-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </li>
    </div>
    </ul>
  </div>
</section>
