<section class="benefits">
  <ul class="benefits-list">
    <li class="benefits-item">
      <h3 class="benefits-title">Activity Notifications</h3>
      <p class="benefits-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </li>
    <li class="benefits-item">
      <h3 class="benefits-title">Custom Timing</h3>
      <p class="benefits-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </li>
    <li class="benefits-item">
      <h3 class="benefits-title">Mobile Optimized</h3>
      <p class="benefits-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </li>
  </ul>
</section>
