<!--section footer-->
<footer class="footer">
  <a href="" class="footer__logo">
    <img class="footer__icon" width="136" height="104" src="./images/img.svg">
  </a>
  <ul class="soc-list list">
    <li class="soc-list__item"><a href="" class="soc-list__link">Instagram</a></li>
    <li class="soc-list__item"><a href="" class="soc-list__link">Email</a></li>
    <li class="soc-list__item"><a href="" class="soc-list__link">Facebook</a></li>
    <li class="soc-list__item"><a href="" class="soc-list__link">Twitter</a></li>
    <li class="soc-list__item"><a href="" class="soc-list__link">Image License Info</a></li>
    <li class="soc-list__item"><a href="" class="soc-list__link">Powered by Webflow</a></li>
  </ul>
</footer>
