<!--section get-updates-->

<section class="container">
  <div class="container-center">
    <h2 class="getup">Get updates from Richard</h2>
    <p class="newcorse">New course alerts, discounts and free lessons</p>
    <form class="email">
      <input class="text-input" type="text" /><button class="button">
        Subscribe
      </button>
    </form>
  </div>

<section class="section__getupdates">
  <h2 class="name__getupdates">Get updates from Richard</h2>
  <p class="text__getupdates">New course alerts, discounts and free lessons</p>
  <form class="form__getupdates"><input class="input__getupdates" name="Subscribe" type="text" placeholder="Enter your email" />
    <button class="btn__getupdates">Subscribe</button></form>

</section>
