<section class="menu">
  <div class="menu__container">
    <ul class="menu__list">
      <li class="menu__item">
        <div class="menu__info">
          <p class="menu__pretitle">Aenean Consectetur Porta</p>
          <h3 class="menu__title">Sem Risus Elit Vestibulum</h3>
          <p class="menu__desc">
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non
            commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
            nec elit.
            <span class="menu__text-mark">Cras mattis consectetur</span> purus
            sit amet fermentum. Donec id elit non mi porta gravida at eget
            metus. Etiam porta sem malesuada magna mollis euismod.
          </p>
        </div>
        <div class="menu__img"></div>
      </li>
      <li class="menu__item">
        <div class="menu__info">
          <p class="menu__pretitle">Aenean Consectetur Porta</p>
          <h3 class="menu__title">Parturient Tortor</h3>
          <p class="menu__desc">
            Nulla vitae elit libero, a pharetra augue. Duis mollis, est non
            commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
            nec elit.
            <span class="menu__text-mark">Cras mattis consectetur</span> purus
            sit amet fermentum. Donec id elit non mi porta gravida at eget
            metus. Etiam porta sem malesuada magna mollis euismod.
          </p>
        </div>
        <div class="menu__img"></div>
      </li>
    </ul>
  </div>
</section>
