
<section>
    <ul>
      <li><a href="">nebflow</a></li>
      <li><a href="">ubereats</a></li>
      <li><a href="">product hunt</a></li>
      <li><a href="">microsoft</a></li>
      <li><a href="">bitcoir</a></li>
    </ul>
  </section>

<div class="conteiner-partners">
  <section class="partners-section">
    <ul class="partners">
      <li class="partners_item">
        <a class="partners_link" href="">nebflow</a>
      </li>
      <li class="partners_item">
        <a class="partners_link" href="">ubereats</a>
      </li>
      <li class="partners_item">
        <a class="partners_link" href="">product hunt</a>
      </li>
      <li class="partners_item">
        <a class="partners_link" href="">microsoft</a>
      </li>
      <li class="partners_item">
        <a class="partners_link" href="">bitcoir</a>
      </li>
    </ul>
  </section>
</div>

