<!-- секція get started-->
<section>
  <h2>Ready to get started?</h2>
  <ul>
    <li><button type="button">Download Now</button></li>
    <li><button type="button">Get in Touch</button></li>
  </ul>
  <ul>
    <li><button class="prev">Prev</button></li>
    <li><button class="next">Next</button></li>
  </ul>

  <ul class="slider-list">
    <li class="slider-item">1</li>
    <li class="slider-item">2</li>
    <li class="slider-item">3</li>
    <li class="slider-item">4</li>
    <li class="slider-item">5</li>
  </ul>
</section>
