<section class="statistika">
  <ul class="statistika__list">
    <li class="statistika__item">
      <span class="statistika__numbers">+12k</span>
      <p class="statistika__text">Nibh Elit Tristique</p>
    </li>

    <li class="statistika__item">
      <span class="statistika__numbers">84</span>
      <p class="statistika__text">Aenean Condimentum</p>
    </li>

    <li class="statistika__item">
      <span class="statistika__numbers">3,07</span>
      <p class="statistika__text">Quam Inceptos</p>
    </li>

    <li class="statistika__item">
      <span class="statistika__numbers">24h</span>
      <p class="statistika__text">Ullamcorper</p>
    </li>
  </ul>
</section>
